@import '../../base/index.scss';

.root {
  background-image: linear-gradient(rgb(222, 222, 222), rgb(140, 140, 140));
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;

  .dashboardWrapper {
    padding-top: 10vh;
    max-width: $maxWidth;
    margin: auto;
    // height: 60vh;
    position: relative;

    .profile {
      margin-left: auto;
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      .profilePicture {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .organizations {
      padding-top: 5vh;

      .title {
        padding-bottom: $mn/2;
      }
      .organization {
        padding: $mn;
        margin: $mn/3 0;
        border: 1px solid $colorBlack;

        // width: 100%;
        // height: 100%;
        display: block;
      }
    }
  }
}
